@charset 'utf-8';

.editor-window {
  background-color: $has-background-black-ter;
}

.basic-editor {
  .is-toolbar {
    flex: none;
    width: 3rem;
    background-color: $has-background-dark;
    border-left: 1px solid $has-background-black-ter !important;
    align-content: center;

    .columns {
      margin-top: unset;
      margin-bottom: unset;
    }
    a {
      color: $has-text-grey;
    }
    a:hover {
      color: $has-text-purple;
    }
  }
}
