@charset 'utf-8';

.explorer-ed {
  @extend .explorer;

  ul {
    .is-entry {
      a {
        color: $has-text-primary;
        background-color: unset;
        padding: 0.3em 2em;
        text-transform: unset;
      }
      a:hover {
        background-color: $has-background-black-ter;
      }
      .is-active {
        background-color: $has-background-black-ter !important;
        border: unset;
      }
    }

    li {
      list-style-position: inside;
      a {
        text-transform: uppercase;
        border-radius: 0px;
        font-weight: bold;
        font-size: small;
        background-color: $has-background-grey-dark;
        color: $has-text-light;
      }
      .is-active {
        background-color: $has-background-grey-dark;
        border: 1px solid $has-text-link;
      }
    }
  }
}