@charset 'utf-8';

.explorer {
  background-color: $has-background-grey-darker;
  height: 100%;
  
  .explorer-title {
    color: $has-text-light;
    padding: 1em 1.2em;
    font-size: small;
    text-transform: uppercase;
  }
  .explorer-subtitle {
    color: $has-text-grey;
    padding: 0.5em 1.2em;
    font-size: small;
    text-transform: lowercase;
  }
  .control {
    max-width: none;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;

    .input {
      @include placeholder {
        color: $has-text-light;
        opacity: 0.8;
      }
      background-color: $has-background-grey;
      color: $has-text-light;
    }
    .button {
      color: $has-text-light;
      margin-top: 0.5rem;
      font-weight: bold;
      font-size: small;
      text-transform: uppercase;
      background-color: transparent;
    }
    .button:hover {
      color: $has-text-primary;
      border-color: $has-text-primary;
      transition-duration: 0.4s;
    }
    .button:focus {
      @extend .button:hover,
    }
    .notification {
      margin-top: 1em;
      opacity: 0.9;
    }
  }
}