@charset 'utf-8';

.debug {
  @extend .explorer;

  .src-editor {
    width: 80%;
  }

  .explorer-title {
    .is-close {
      margin-right: 1rem;
    }
    a {
      border-color: transparent !important;
      background-color: transparent !important;
      color: $has-text-light !important;
    }
  }

  .output {
    font-weight: bold;
    font-size: small;
    color: $has-text-grey;
    padding: 0rem 1rem;
  }

  .field {
    .control {
      .debug-label {
        color: $has-text-grey;
        font-size: small;
        text-transform: lowercase;
      }
    }
  }
}