@charset 'utf-8';

.dl-editor {
  .chord {
    position: absolute;
    .fade {
      fill-opacity: 0.06;
      stroke-opacity: 0;
    }
    .highlight {
      fill-opacity: 1;
    }    
  }
  .entries {
    li {
      color: $has-text-primary;
    }
  }
  .delete {
    background-color: $has-text-grey;
  }
  .title {
    color: $has-text-light;
  }
  .button {
    color: $has-text-light;
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: small;
    text-transform: uppercase;
    background-color: transparent;
  }
  .button:hover {
    color: $has-text-primary;
    border-color: $has-text-primary;
    transition-duration: 0.4s;
  }
  .button:focus {
    @extend .button:hover,
  }
}
