@charset 'utf-8';

.dt-editor {
  @extend .basic-editor;
  .is-toolbar {
    .button {
      color: $edt-toolbar-color-inactive;
      background: transparent;
      border: none;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .button:hover {
      color: $edt-toolbar-color-hover; 
    }
    .active {
      color: $edt-toolbar-color-active;
    }
  }

  .editbar {
    .field {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $has-text-grey;
    }
    .active {
      border-bottom: 1px solid $has-text-yellow;
      .icon {
        color: $has-text-yellow;
      }
      .cell-editor {
        color: $has-text-yellow;
      }
    }

    .cell-editor {
      @include placeholder {
        color: $has-text-light;
        opacity: 0.8;
      }
      background-color: $edt-editbar-background-color;
      border-color: $edt-editbar-border-color-inactive;
      outline: none;
      border: transparent;
      color: $has-text-grey;
      display: inline;
      cursor: text;
    }
    .cell-editor:hover, .cell-editor:focus, .cell-editor:active {
      outline: none;
      border-color: $edt-editbar-border-color-inactive;
    }
    .icon {
      color: $has-text-grey;
      justify-content: unset;
    }
  }

  .is-delete {
    .icon {
      color: $has-text-danger;
    }
  }

  .is-content {
    padding-top: 1.5rem;
    padding-left: 2rem;
    //padding-right: 2rem; 

  }
  .rulesets {
    .active {
      background-color: $has-background-grey-darker;
      opacity: 0.8;
    }
  }
  .is-editor {
    .scroll-page {
      padding-bottom: 70px;
    }
    .column {
      padding: unset;
    }
    .config {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-right: 2rem;
      .is-entry {
        color: $has-text-grey;
      }
    }
    .highlight {
      /*
      .column:hover {
        background-color: $has-background-grey-darker;
        opacity:0.8;
      }*/
    }
    .entry {
      min-height: 20px;
      max-height: 20px;
    }
    .column:nth-child(odd) {
      color: $has-text-purple;
    }
    .column:nth-child(even) {
      color: $has-text-primary;
    }
    .conditions {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $has-text-grey;
    }
    .outcomes {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .header {
      margin-left: 0.5rem;
      color: $has-text-yellow !important;
      font-weight: bold;
    }
    .title {
      margin-bottom: 0.2rem;
      color: $has-text-grey;
    }
    
  }
}