@charset 'utf-8';

.search {
  @extend .explorer;

  .is-id {
    font-weight: lighter;
    font-size: small;
    color: $has-text-grey;
  }

  ul {
    .is-match {
      a {
        color: $has-text-primary;
        font-size: small;
        padding: 0.3em 2em;
        font-weight: bold;
      }
      a:hover {
        background-color: $has-background-black-ter;
      }
      .is-active {
        background-color: $has-background-black-ter !important;
        border: unset;
      }
    }
    .is-entry {
      a {
        color: $has-text-primary;
        background-color: unset;
        padding: 0.3em 0.8em;
        text-transform: unset;
      }
      a:hover {
        background-color: $has-background-black-ter;
      }
      .is-active {
        background-color: $has-background-black-ter !important;
        border: unset;
      }

      .is-type {
        font-weight: bold;
        font-size: small;
        color: $has-text-grey;
        padding: 0rem 1rem;
      }
    }
  }
}